{% extends 'base.html.twig' %}

{% block title%} Inscription - {{ parent() }}{% endblock %}

{% block body%}
    {{ form_start(form) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email)}}
    {{ form_row(form.plainPassword) }}

    <div>
        <button class="btn-primary">
            <a href="">Enregistrer</a>
        </button>
    </div>
{% endblock %}
