<div class="navbar-nav">
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('app_category_index', {'id' :category.id}) }}"></a>
            </li>

        {% endfor %}
    </ul>
</div>