{% extends 'base.html.twig' %}

{% block body %}

    <h1>Edition de catégorie</h1>

        {#Ouvre la balise form#}
        {{ form_start(form) }}

        {#bloc de fomulaire pour le champ name#}
        {{ form_row(form.name) }}
            <div class="text-right">
                <button type="submit" class="btn btn-primary">
                    Enregistrer
                </button>

                <a href="{{ path('app_admin_category_index') }}" class=" btn">
                    Retour
                </a>
            </div>

        {#ferme la balise form#}
        {{ form_end(form) }}
{% endblock %}

