{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion des categories</h1>

    <a href="{{ path('app_admin_category_edit') }}" class="btn btn-outline-dark mb-3 ">
        Ajouter une catégorie
    </a>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th width="250px"></th>


            {% for category in categories  %}
        <tr>
                <td>{{ category.Id }}</td>
                <td>{{ category.Name }}</td>
                <td>
                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}" class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('app_admin_category_delete', {'id': category.id}) }}" class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
        </tr>
            {% endfor %}

    </table>


{% endblock %}


