
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony blog{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-warning">
        <div class="container navbar-nav">
            <a class="navbar-brand" href="{{ path('app_admin_category_index') }}">
                Admin
            </a>
            <div>
                <ul class="nav-item">
                    <li class="nav-link">
                        <a href="{{ path('app_admin_category_index') }}">Gestions des categories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container navbar-nav">
            <a class="navbar-brand" href="{{ path('app_index_index') }}">
                Blog
            </a>
            {#Affiche le rendu de la methode menu()  de categoryController#}
            {{ render(controller('App\\Controller\\CategoryController::menu')) }}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"></a>

                </li>

            </ul>

        </div>
    </nav>
    <div class="container">
        {#
        Affichage des messages flash :
        Boucle en clé => valeur sur les messages flash
        stockés dans la session (stockés par type de message
        foreach($allmeassage as $type => $messages)
        #}
        {% for type,messages in app.session.flashBag.all %}
            {% for message in messages  %}
                {% if type == 'error' %}
                    )
                {% endif %}
                <div class="alert alert-{{ type }}">
                    {{ message|raw }}
                </div>

            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
    {% endblock %}
</body>
</html>